.add-blogs-div {
  background: azure;
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
}
.input-title {
  width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: transparent;
  border: 1px solid black;
}
.input-disc {
  width: 20rem;
  height: 5rem;
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
}
.add-button {
  width: 20rem;
  padding: 0.4rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 1px blue;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}
